body {
    color: #555;
    font-family: Roboto, sans-serif;
}

.head-section {
    background: linear-gradient(1deg, #c4b6fd, #93acfc);
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    outline: 3px solid #000;
    background:rgba(0,0,0,.7);
    backdrop-filter: blur(5px);
}

.navbar-brand {
    font-size: 30px;
}

.navbar-brand, .text-primary {
    color: #0a58ca !important;
}

.nav-link {
    font-size: 15px;
    font-weight: 500;
    color: white !important;
}

.btn-primary {
    background: #0a58ca !important;
    border: none;
}

.nav-link:hover {
    color: #0a58ca !important;
}

p, .lead {
    font-size: 25px !important;
}

.ionicons {
    color: #0a58ca;
    background-color: #f2f2f2;
    padding: 10px;
    height: 30px;
    width: 30px;
    margin-bottom: 12px;
}

.nav-tabs {
    border: none;
}

.nav-tabs .active {
    background-color: #0a58ca !important;
    border: none;
    color: #f2f2f2 !important;
}

.footer-section {
    background-color: #0a58ca !important;
    border: none;
    color: #f2f2f2 !important;
}